
{% extends "layout.html" %}

{% block title %}JSGrid and Django Sample{% endblock %}

{% block head %}
    <link href="http://js-grid.com/css/jsgrid.min.css" rel="stylesheet" />
    <link href="http://js-grid.com/css/jsgrid-theme.min.css" rel="stylesheet" />
{% endblock %}

{% block content %}
    <div id="jsGrid"></div>
{% endblock %}

{% block scripts %}
    <script src="http://js-grid.com/js/jsgrid.min.js"></script>
    <script>
        $(function() {
            $("#jsGrid").jsGrid({
                height: "50%",
                width: "100%",
                filtering: true,
                inserting: true,
                editing: true,
                sorting: true,
                paging: true,
                autoload: true,
                pageLoading:true, //This is set to true to enable page loading, it allows for pageSize and pageIndex to be passed to server side during Ajax Call
                pageSize:3,
                pageIndex:1,
                deleteConfirm: "Do you really want to delete client?",
                controller: {
                    loadData: function(filter) {
                        var d = $.Deferred();
                        $.ajax({
                            type: "GET",
                            url: "/clients/api",
                            data: filter
                        }).done(function(result) {
                            debugger

                            //hello = ($.map(result, function(item) {
                              //  return $.extend(item.fields, { id: item.pk });
                            //}));
                            debugger
                            var da = {
                                data :result.data,
                                itemsCount:result.itemsCount
                            }

                            d.resolve(da);

                        });
                        return d.promise();
                    },
                    insertItem: function(item) {
                        return $.ajax({
                            type: "POST",
                            url: "/clients/api",
                            data: item
                        });
                    },
                    updateItem: function(item) {
                        return $.ajax({
                            type: "PUT",
                            url: "/clients/api/" + item.id,
                            data: item
                        });
                    },
                    deleteItem: function(item) {
                        return $.ajax({
                            type: "DELETE",
                            url: "/clients/api/" + item.id
                        });
                    }
                },
                fields: [
                    { name: "name", type: "text", width: 150 },
                    { name: "age", type: "number", width: 50, filtering: false },
                    { name: "address", type: "text", width: 200 },
                    { name: "married", type: "checkbox", title: "Is Married", filtering: false, sorting: false },
                    { type: "control" }
                ]
            });
        });
    </script>
{% endblock %}